@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url("https://use.typekit.net/ril2vdl.css");

:root {
    --typography-base: 1rem;

    --typography-h1: calc(1 * var(--typography-base));
    --typography-h2: calc(1 * var(--typography-base));
    --typography-h3: calc(1 * var(--typography-base));
    --typography-blockquote: calc(1 * var(--typography-base));
    --typography-p: calc(1 * var(--typography-base));
}

@media screen {
    html {
        padding: 1rem;
    }
}

@media (min-width: 375px) {

    :root {
        --typography-base: 1.15rem;
    
        --typography-h1: calc(1 * var(--typography-base));
        --typography-h2: calc(1 * var(--typography-base));
        --typography-h3: calc(1 * var(--typography-base));
        --typography-blockquote: calc(1 * var(--typography-base));
        --typography-p: calc(1 * var(--typography-base));
    }

    main {
        padding-top: 3rem;
        padding-bottom: 6rem;
        margin: auto;
    }

    header {
        padding-top:3rem;
    }

    main {
        float: right;
        text-align: left;
        margin-right: 5%;
        margin-left:5%;
    }

    header {
        position: sticky;
        float: left;
        text-align: left;
        margin-right: 5%;
        margin-left:5%;
        max-width: 450px;
    }

    #author {
        color: rgb(0, 0, 0);
    }

    #author:hover {
        text-decoration:underline;
    }

    .top {
        display: flex;
        justify-content: space-between;
        position: fixed;
        float: left;
        max-width: 100%;
        top:0;
        left: 0;
        right: 0;
        z-index: 15;
        background: white;
    }

    .bottom {
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        position: fixed;
        max-width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background: white;
    }

    #blue:hover {
        font-family: "ladislav", sans-serif;
        font-style: italic;
        color: blue;
        font-weight: bold;
        text-transform: lowercase;
        font-size: calc(2 * var(--typography-base));
    }

    #red:hover {
        font-family: "ladislav-reversed", sans-serif;
        font-style: normal;
        color: red;
        font-weight: bold;
        text-transform: lowercase;
        font-size: calc(2 * var(--typography-base));
    }

    
    #red:active {
        font-family: "ladislav-reversed", sans-serif;
        color: blue;
    }

    #purple:hover {
        font-family: "ladislav", sans-serif;
        font-style: normal;
        color:rgb(225, 0, 255);
        font-weight: bold;
        text-transform: lowercase;
        font-size: calc(2 * var(--typography-base));
    }

    #black:hover {
        font-family: "ladislav", sans-serif;
        font-style: normal;
        color:rgb(225, 0, 255);
        font-weight: bold;
        text-transform: lowercase;
        font-size: calc(5 * var(--typography-base));
    }

    nav > a {
        padding: 0.5rem;
        font-size: calc(1 * var(--typography-base));
    }


    header > p {
        font-size: calc(1 * var(--typography-base));
    }

    h1 {
        font-size: calc(1 * var(--typography-base));
    }

    blockquote {
        font-size: calc(1 * var(--typography-base));
        display:block;
        line-height: 1.6rem;
    }

    blockquote:hover {
        font-size: calc(2.5 * var(--typography-base));;
        padding: 1.5rem;
        line-height: 3rem;
    }
    
    div:nth-child(1) blockquote::before {
        content: '“';
        margin-left: -0.35em;
    }

    div:nth-child(1) blockquote::after { content: '”'; }

    main > p {
        font-size: calc(1 * var(--typography-base)); 
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        line-height:1.6rem;
    }

    h2 {
        font-size: calc(1 * var(--typography-base));
    }

    h3 {
        font-size: calc(1 * var(--typography-base)); 
    }

    li {
        font-size:calc(1.8 * var(--typography-base)); 
    }
}

/* /////////////SCREEN SIZE 500/////////////////*/
@media (min-width: 500px) {
    :root {
        --typography-base: 1.15rem;
    
        --typography-h1: calc(1 * var(--typography-base));
        --typography-h2: calc(1 * var(--typography-base));
        --typography-h3: calc(1 * var(--typography-base));
        --typography-blockquote: calc(1 * var(--typography-base));
        --typography-p: calc(1 * var(--typography-base));
    }

    body {
        padding: 1rem;
    }

    nav > a {
        padding: 0.6rem;
        font-size: calc(1 * var(--typography-base));
    }
    
    header > p, h1 {
        font-size: calc(1 * var(--typography-base));
        line-height: 1.4rem;
    }

    blockquote {
        font-size: calc(1 * var(--typography-base));
        display:block;
        line-height:1.7rem;
    }

    blockquote:hover {
        font-size: calc(2.5 * var(--typography-base));;
        padding: 2.5rem;
        line-height:3.2rem;
    }
    
    div:nth-child(1) blockquote::before {
        content: '“';
        margin-left: -0.35em;
    }

    div:nth-child(1) blockquote::after { content: '”'; }

    main > p {
        font-size: calc(1 * var(--typography-base)); 
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        line-height:1.8rem;
    }

    h2 {
        font-size: calc(1 * var(--typography-base));
    }

    h3 {
        font-size: calc(1 * var(--typography-base)); 
    }
}

/* /////////////SCREEN SIZE 525/////////////////*/
@media (min-width:525px) {
    :root {
        --typography-base: 1.2rem;
    }

    #black:hover {
        font-size: calc(7 * var(--typography-base));
    }

    main > p {
        font-size: calc(1 * var(--typography-base)); 
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        line-height:1.8rem;
    }
}


/* /////////////SCREEN SIZE 800/////////////////*/

@media (min-width: 800px) {
    :root {
        --typography-base: 1.2rem;
    
        --typography-h1: calc(1 * var(--typography-base));
        --typography-h2: calc(1 * var(--typography-base));
        --typography-h3: calc(1 * var(--typography-base));
        --typography-blockquote: calc(1 * var(--typography-base));
        --typography-p: calc(1 * var(--typography-base));
    }

    nav > a {
        padding: 0.8rem;
        font-size: calc(1 * var(--typography-base));
    }
    
    body {
        padding: 1.3rem;
    }

    header > p, h1 {
        font-size: calc(1 * var(--typography-base));
        line-height: 1.5rem;
    }

    blockquote {
        font-size: calc(1 * var(--typography-base));
        display:block;
        line-height: 1.85rem;
    }

    blockquote:hover {
        font-size: calc(2.5 * var(--typography-base));;
        padding: 2.5rem;
        line-height: 3.6rem;
    }
    
    div:nth-child(1) blockquote::before {
        content: '“';
        margin-left: -0.35em;
    }

    div:nth-child(1) blockquote::after { content: '”'; }

    main > p {
        font-size: calc(1 * var(--typography-base)); 
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        line-height:1.85rem;
    }

    h2 {
        font-size: calc(1 * var(--typography-base));
    }

    h3 {
        font-size: calc(1 * var(--typography-base)); 
    }

    #black:hover {
        font-size: calc(9 * var(--typography-base));
    }
}

/* /////////////SCREEN SIZE 900/////////////////*/
@media (min-width:900px) {

    :root {
        --typography-base: 1.3rem;
    
        --typography-h1: calc(1 * var(--typography-base));
        --typography-h2: calc(1 * var(--typography-base));
        --typography-h3: calc(1 * var(--typography-base));
        --typography-blockquote: calc(1 * var(--typography-base));
        --typography-p: calc(1 * var(--typography-base));
    }

    #black:hover {
        font-size: calc(10 * var(--typography-base));
    }

    blockquote {
        line-height: 2.1rem;
    }

    blockquote:hover {
        line-height: 3.6rem;
    }

    main > p {
        font-size: calc(1 * var(--typography-base)); 
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        line-height:2.1rem;
    }
}

/* /////////////SCREEN SIZE 1000/////////////////*/
@media (min-width:1000px) {
    #black:hover {
        font-size: calc(12 * var(--typography-base));
    }
}


/* General Code */
header > p {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -0.02rem;
    color: rgb(172, 152, 152);
    max-width: 600px;
}

nav {
    font-family: 'Work Sans';
    text-transform: uppercase;
}

/* Colour Symphony Bottom Nav Code*/
.i:hover,
.iii:hover,
.v:hover,
.vii:hover {
    color: red;
}

.ii:hover,
.iv:hover,
.vi:hover,
.viii:hover {
    color:blue
}

h1 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
}

blockquote {
   font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    max-width: 600px;
}

main > p {
    font-family: 'DM Sans', sans-serif;
    max-width: 600px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    max-width: 600px;
    text-align: center;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    max-width: 600px;
}

h4 {
    font-family: 'DM Sans', sans-serif;
    max-width: 600px;
}

.caption {
    font-family: 'Work Sans';
}

em {
    font-weight: normal;
    font-style: italic;
}

ol {
    font-family: "ladislav", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    max-width:400px;
    margin:auto;
    display: flex;
    text-align: center;
    flex-direction: column;
}

li:nth-child(2),
li:nth-child(4),
li:nth-child(6),
li:nth-child(8),
li:nth-child(10),
li:nth-child(11),
li:nth-child(12),
li:nth-child(14),
li:nth-child(16),
li:nth-child(18){
    font-family: "ladislav-reversed", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: rgb(225, 0, 255);
}

.middle {
    padding: 0.5rem;
    text-transform: uppercase;
}

