/*@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --typography-base: 1rem;

    --typography-h1: calc(1 * var(--typography-base));
    --typography-blockquote: calc(1 * var(--typography-base));
    --typography-p: calc(1 * var(--typography-base));
}

@media (min-width: 375px) {
    body {
        padding: 1.2rem;
    }

    header > p {
        font-size: calc(1 * var(--typography-base));
    }

    h1 {
        font-size: calc(1 * var(--typography-base));
    }

    blockquote {
        font-size: calc(1 * var(--typography-base));
        display:block;
        max-width: 300px;
    }
    
    section:nth-child(1) blockquote::before {
        content: '“';
        margin-left: -0.35em;
    }

    section:nth-child(1) blockquote::after { content: '”'; }

    main > p {
        font-size: calc(1 * var(--typography-base)); 
        margin-top: 1.5rem;
        line-height:1.4rem;
        max-width: 500px;
    }
}


/* General Code 
a:hover {
    color: rgb(0, 255, 0);

}*/