@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');


h1 {
    font-family: 'Rubik Mono One', monospace;
    font-size: 20rem;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 5rem;
}