@media screen {
    div {
        height: 100%;
        max-width: 100%;
        position: absolute;
        padding-top: 20%;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 20%;
        text-align: center;
        animation: blinking 3s forwards;
    }
    
    @keyframes blinking {
        0% {
            opacity: 1;
            transform: translateY(0vh);
            color:blue
        }
    
        50% {
            opacity: 0;
            transform: translateY(75vh);
            color: red;
        }
    
        100% {
            opacity: 1;
            transform: translateY(0vh);
            color:rgb(0, 0, 0);
        }
    }

    h1 {
        font-size: calc(1.4 * var(--typography-base));
        line-height:2rem;
        text-transform: lowercase;
        text-align:center;
        max-width: 100%;
    }
    
    div > p {
        text-align:center;
        font-family:'Work Sans', sans-serif;
    }

    button {
        font-family: 'Work Sans', sans-serif;
        margin: 0;
        position: relative;
        top: 25%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: black;
    }

    button .designer {
        display: none;
    }

    button:hover .author {
        display:none;
    }

    button:hover .designer {
        display: inline;
        color: rgb(225, 0, 255);
    }

    section > nav > a:nth-child(1) {
        color: rgb(225, 0, 255);
    }

    #black {
        color: rgb(225, 0, 255);
    }
}