@media screen {
    
    h1 {
        color: red;
    }

    a:hover {
        font-family: "ladislav-reversed", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-style: italic;
        font-weight:bold;
        color:red
    }

    blockquote:hover {
        font-family: "ladislav-reversed", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    ::-moz-selection {
        color: rgb(255, 255, 255);
        background: red;
    }
    
    ::selection {
        color: rgb(255, 255, 255);
        background: red;
    }

    blockquote:hover {
        color: red;
    }

    h4 {
        font-size: calc(1.8 * var(--typography-base)); 
        color:red;
        font-family: "ladislav-reversed", sans-serif;
        font-weight: 600;
        font-style: italic;
        padding: 1.5rem;
        line-height: calc(2.5 * var(--typography-base));
    }

    .caption, h2, h3 {
        color: red;
    }
    
    main > p > a {
        text-decoration: underline;
        text-decoration-color: red;
        text-decoration-thickness: 0.8px
    }

    section > nav > a:nth-child(2) {
        color: red;
    }

    hr {
        border: 0.8px DOTTED red;
    }
}
