body {
    max-width: 500px;
    margin: auto;
}

a, h1, blockquote, p {
    text-align: center;
}

a:hover {
    font-style: italic;
    font-weight:bold;
    color: rgb(225, 0, 255);
}

::-moz-selection {
    color: rgb(255, 255, 255);
    background: rgb(225, 0, 255);
  }
  
  ::selection {
    color: rgb(255, 255, 255);
    background: rgb(225, 0, 255);
}

blockquote:hover {
    color:rgb(225, 0, 255);
    font-family: "ladislav", sans-serif;
    font-weight: 600;
    font-style: normal;
}