@media screen {
    h1 {
        color:rgb(225, 0, 255);
    }

    a:hover {
        font-family: "ladislav", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: rgb(225, 0, 255);
    }

    ::-moz-selection {
        color: rgb(255, 255, 255);
        background: rgb(225, 0, 255);
    }
    
    ::selection {
        color: rgb(255, 255, 255);
        background: rgb(225, 0, 255);
    }

    blockquote:hover {
        color:rgb(225, 0, 255);
        font-family: "ladislav", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    h4 {
        font-size: calc(2.5 * var(--typography-base)); 
        color:rgb(225, 0, 255);
        font-family: "ladislav", sans-serif;
        font-weight: 600;
    }
}