/* General Code*/

@media screen {
    
    h1 {
        color: blue;
    }

    a:hover {
        font-family: "ladislav", sans-serif;
        font-weight: 600;
        font-style: italic;
        color: blue;
    }

    ::-moz-selection {
        color: rgb(255, 255, 255);
        background: blue;
    }
    
    ::selection {
        color: rgb(255, 255, 255);
        background: blue;
    }

    blockquote:hover {
        color:blue;
        font-family: "ladislav", sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    h4 {
        font-size: calc(2.5 * var(--typography-base)); 
        color:blue;
        font-family: "ladislav", sans-serif;
        font-weight: 600;
        font-style: italic;
    }
}
