body {
    max-width: 500px;
    float:right;
}

a:hover {
    font-family: "ladislav-reversed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-style: italic;
    font-weight:bold;
    color:red
}

blockquote:hover {
    font-family: "ladislav-reversed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

::-moz-selection {
    color: rgb(255, 255, 255);
    background: red;
  }
  
  ::selection {
    color: rgb(255, 255, 255);
    background: red;
}

blockquote:hover {
    color: red;
}